<header class="container-fluid">
  <nav class="row">
    <div class="col-12">
      <div class="row d-flex justify-content-between nav-wrapper pb-3">
        <div class="col-4 d-flex">
          <div class="openbtn pt-3" id="openbtn" (click)="openMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div id="mySidenav" class="sidenav">
            <div class="close-wrapper mb-5">
              <a class="closebtn mt-3" (click)="closeMenu()">
                <img src="../assets/X.png" alt="close-btn">
              </a>
            </div>
            <a routerLink="" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              (click)="closeMenu()">Home</a>
            <a href="#" (click)="closeMenu()">Bestsellers</a>
            <a routerLink="products" class="nav-link" routerLinkActive="active" (click)="closeMenu()">Products</a>
            <div class="menu-divider"></div>
            <a href="#" (click)="closeMenu()">Work with us</a>
            <a href="#" (click)="closeMenu()">Contact</a>
            <a href="" (click)="closeMenu()">About</a>
          </div>

          <div class="search d-flex pt-3">
            <div class="search-field pl-3 pt-2 ml-4 mr-2">
              <input #searchBox id="search-box" placeholder="Sök på film" (input)="search(searchBox.value)"
                class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" />

              <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
                <ul class="search-result" id="search-result">
                  <li *ngFor="let movie of movies | async">
                    <a routerLink="/products/{{movie.id}}" class="dropdown-item">
                      {{movie.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-center pt-4">
          <h5>Moviz</h5>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <div class="icons pt-4 pr-2">
            <img class="heart-icon heart1 pr-1" src="../assets/heart.png" alt="heart-like">
            <a routerLink="cart" routerLinkActive="active">
              <img class="cart-icon toggle-cart pl-1" src="../assets/cart.png" alt="shopping cart" id="cartBtn">
            </a>
          </div>
        </div>
      </div>
    </div>

  </nav>
</header>

<router-outlet></router-outlet>
